body {
  overflow-x: hidden;
}

.brand-color {
  color: hsl(0, 100%, 68%) !important;
}

.bg-dark {
  background-color: hsl(203, 16%, 17%) !important;
}

.bg-ultralight {
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.1);
}

.btn-primary {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(0, 100%, 68%) !important;
}

.btn-outline-primary {
  color: hsl(0, 100%, 68%) !important;
  background-color: hsl(0, 0%, 100%) !important;
  border-color: hsl(0, 100%, 68%) !important;
}

.btn-primary:hover {
  background-color: hsl(0, 100%, 71%) !important;
}

.btn-outline-primary:hover {
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(0, 100%, 68%) !important;
}

.btn-outline-primary:focus,
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem hsla(0, 100%, 68%, 0.5) !important;
  box-shadow: 0 0 0 0.2rem hsla(0, 100%, 68%, 0.5) !important;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.35);
}

/*
===============================================
*/

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsla(203, 16%, 23%, 0.85) !important;
}

.navbar .nav-link {
  font-size: 0.85rem;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: hsl(0, 0%, 100%) 3px solid;
}

/*
===============================================
*/

.carousel-item {
  height: 500px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
}

.carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.35);
}

.heading-line {
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 45px;
  width: 45px;
  background-color: hsla(0, 0%, 0%, 0.55);
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.carousel-control-prev-icon {
  background-image: url('../img/arrow-left.svg');
}

.carousel-control-next-icon {
  background-image: url('../img/arrow-right.svg');
}

.cta {
  position: relative;
  min-height: 200px;
  background: url('../img/true-agency-9Bjog5FZ-oc-unsplash.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.container-video {
  max-width: 680px;
  margin: 0 auto;
}

/*
===============================================
*/

.page-header {
  position: relative;
  height: 350px;
  background: url('../img/image1.jpg');
  background-position: 0 -410px;
  color: hsl(0, 0%, 100%);
}

.position-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

.img-cover {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-img {
  margin-top: -50px;
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-color {
  background-color: hsl(0, 100%, 68%) !important;
}

.card-border {
  border: 1px solid hsl(203, 16%, 17%);
}

.faq a {
  color: hsl(210, 11%, 25%);
  text-decoration: none;
}

.css-columns {
  display: block;
  -webkit-columns: 3 300px;
  -moz-columns: 3 300px;
  columns: 3 300px;
}

.card-column {
  display: inline-block;
  width: 100%;
}

/*
===============================================
*/

.footer {
  color: hsl(0, 0%, 100%);
  background-color: hsl(203, 16%, 17%);
}

.line {
  background-color: hsl(0, 0%, 100%);
  width: 85%;
}